<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student Data</title>
</head>

<body>
    <form action="/add" method="post">
        <label for="">Name</label>
        <input type="text" placeholder="enter name" required name="name">
        <button type="submit">Add</button>
    </form>
</body>

</html>