<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>

<body>
    <form action="/edit/<%=student.id%>" method="post">
        <input type="text" name="name" value="<%=student.name%>" placeholder="enter edit name" required>
        <button type="submit">Edit</button>
    </form>
</body>

</html>